.profile {
  margin: 20px auto 0 auto;
  /* margin-top: 20px; */
  width: 350px;
  border: 2px solid rgb(0, 0, 0, 0.2);
  border-radius: 30px;

  background-color: rgb(226, 217, 217);

  overflow: hidden;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 15px;
}

.avatar {
  max-width: 270px;
  background-color: white;
  border-radius: 50%;

  margin-top: 15px;
}

.name {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.tag,
.location {
  font-size: 30px;
  color: rgb(69, 68, 73);
}

.stats {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid rgb(0, 0, 0, 0.2);
}

.stats li {
  height: 100px;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
}

.stats li:nth-child(2) {
  border-right: 1px solid rgb(0, 0, 0, 0.2);
  border-left: 1px solid rgb(0, 0, 0, 0.2);
}

.label {
  font-size: 22px;
  color: rgb(69, 68, 73);
}

.quantity {
  font-size: 22px;
  font-weight: bold;
  color: black;
}
